li 
  span(data-hook="user-name")
  button.btn.btn-danger(data-hook='action-delete-user') Delete
  a.btn.btn-warning(data-hook='action-view-user') View
  a.btn.btn-success(data-hook='action-edit-user') Edit
